@model FeedForwardBusinessEntities.ViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_FeedForwardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td><b>UserID</b></td>
                <td>@Html.TextBoxFor(u=> u.UserID)</td>
                <td>  <input type="submit" value="Next" id="btnNext" name="btn" /></td>
            </tr>
        </table>
        <br />
        <br />
        <b>@ViewBag.OTPSent</b>
        @Html.TextBoxFor(u=> u.Password)
        <input type="submit" value="Submit" id="btnSubmit" name="btn" />

        <br />
        <br />
        <b>@ViewBag.OTPValidated</b>

        <p>New Password</p>

        @Html.PasswordFor(u=> u.NewPassword)

        <p>Confirm Password</p>

        @Html.PasswordFor(u=> u.ConfirmPassword)

        <p>
            <input type="submit" value="Reset Password" id="btnResetPassword" name="btn" />
        </p>

        <br />
        <b>@ViewBag.Message</b>

    }


</body>
</html>
